<div class="welcome">
	<h2>Welcome! </h2>
	<p class="welcome_msg">Welcome to Quickfolio! Create a simple portfolio page. </p>

	<p class="preview"><img src="http://placekitten.com/300/300" alt="Preview of a user's portfolio" /></p>
</div>

<div class="featured">
	<h2>Recent Portfolios </h2>

	<ul>
	<%= if !@users.nil? do %>
		<% @users.each do |user| %>
			<li><a href="/<%= user.user_name %>"><%= gravatar_image_tag user.email, :class => 'gravatar' %> </a> </li>
		<% end %>
	<% end %>
	</ul>
</div>