<div class="welcome">
	<h2>Welcome! </h2>
	<p class="welcome_msg">Welcome to Quickfolio! Cupcake ipsum dolor sit. Amet powder liquorice marzipan caramels gingerbread marzipan marshmallow. Cake soufflé marzipan. </p>

	<p class="preview"><img src="http://placekitten.com/300/300" alt="Preview of a user's portfolio" /></p>
</div>

<div class="featured">
	<h2>Recent Portfolios </h2>

	<ul>
		<li><img src="http://placekitten.com/150/150" alt="" /> </li>
		<li><img src="http://placekitten.com/150/150" alt="" /> </li>
		<li><img src="http://placekitten.com/150/150" alt="" /> </li>
		<li><img src="http://placekitten.com/150/150" alt="" /> </li>
	</ul>
</div>