<footer>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>			
	</ul>

	<p>Created by <a href="http://www.sarahes.com">Sarah Sheehan</a> for DIG4503. </p>
</footer>