<header>
	<h1>Quickfolio </h1>

	<div class="login">
		<% if signed_in? %>
			<ul>
				<li><%= link_to "Your Portfolio", current_user %></li>
				<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			</ul>
		<% else %>
			<p><%= link_to "Sign in", signin_path %></p>
			<p>Don't have a portfolio, yet? <%= link_to "Sign up now", signup_path, :class => "btn" %>!</p>
		<% end %>
	</div>
</header>
